.calculator{
    text-align: center;
    margin: 0 auto;
    padding-top: 200px;
    width: 400px;
}

.calculator-screen {
    width: 100%;
    background-color: #252525;
    color: #fff;
    text-align: right;
    border: none;
    padding: 0 20px;
    box-sizing: border-box;
}

.value{
    height: 70px;
    font-size: 36px;
}

.operating{
    height: 30px;
    font-size: 20px;
}

.row{
    display: flex;
}

button{
    height: 80px;
    background-color: gray;
    border: 1px solid black;
    font-size: 32px;
    color: #fff;
    width: 25%;
    outline:none;
}

.all-clear, .zero-btn{
    width: 50%;
}

.equal-sign, .operator {
    background-color: orange;
}

button:hover{
    background-color: darkgrey;
}

.equal-sign:hover, .operator:hover{
    background-color: darkorange;
}

